/* Váriaveis */
:root {
    --bg-color: #f2e7d2;
    --accent-pink: #f79eb1;
    --secondary-color: #ae8fba;
    --text-color: #4c5e91;
    --primary-color: #473469;
    --white: #ffffff;
    --transition-speed: 0.5s;
    --container-width: 1400px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, sans-serif ;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.5;
}
header{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between; /* Separa o menu dos botões do idioma */
    align-items: center;
    padding: 1rem;
    position: sticky; /*Para manter o cabeçalho fixo*/
    top: 0;
    z-index: 1000; /*Sobrepõem o header*/
}
header ul {
    display: flex;
    list-style: none;
    gap: 25px;
}
.language-switcher {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.lang-options {
    display: none; /*Escondido por padrão, aparece no hover da classe pai*/
    position: absolute; /*Posiciona com base no pai(language-switcher)*/
    right: 0; /*Alinhado a direita para não vazar*/
    top: 100%; /*Para aparecer abaixo do ícone*/
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    z-index: 1001; /*Fica acima da imagem de perfil e conteúdo do home*/
    min-width: 60px;
}

.language-switcher:hover .lang-options {
    display: flex;
}
.lang-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: var(--white); /*Como estamos usando mask, a cor é definida pelo fundo*/
    -webkit-mask: url('../assets/icons/translation.svg') no-repeat center;
    mask: url('../assets/icons/translation.svg') no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
    transition: all 0.3s;
}

.language-switcher:hover .lang-icon,
.language-switcher:focus-within .lang-icon {
    transform: rotate(15deg);
    background-color: var(--secondary-color);
}
header ul li a{
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    transition: color var(--transition-speed);
}
header ul li a:hover{
    color: var(--secondary-color);
}
.language-switcher button{
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 4px;
    padding: 5px 12px;
    cursor: pointer;
    transition: background-color var(--transition-speed);
}
.language-switcher button:hover{
    background-color: var(--white);
    color: var(--primary-color);

}
.language-switcher button.active{
    background-color: var(--white);
    color: var(--primary-color);
    font-weight: bold;
}

section {
    padding: 80px 40px;
    max-width: var(--container-width);
    margin: 0 auto;
    width: 100%;
}
section h2, section p, section form, section ul:not(#project-list) {
    padding-left: 20px;
    padding-right: 20px;
}
h2{
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 10px;
    padding-bottom: 5px;
}
#home{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 30vh;
}
#home h1{
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 10px;
    padding-bottom: 5px;
}
#home p{
    font-size:1.5rem;
    color: var(--text-color);
}
/* Banner com a foto */
.profile-banner {
    width: 200px;
    height: 200px;
    background-image: url('../assets/images/perfil.jpg');
    background-size: cover; /*Ajusta a imagem para não distorcer*/
    background-position: center; /*Centraliza a foto no circulo*/
    border-radius: 50%; /*Torna a div um círculo perfeito*/
    margin-top: 30px;
    border: 5px solid var(--white);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
#contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 20px auto;
    gap: 10px;
}

#contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    margin-bottom: 15px;
}
#contact-form button {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all var(--transition-speed);
    margin-top: 10px;
}

#contact-form button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#contact-form button:active {
    transform: scale(0.98);
}

.grid-container {
    overflow: hidden;
    width: 100%;
    padding: 40px 0;
    position: relative;
}
.grid-container::before,
.grid-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.grid-container::before {
    left: 0;
    background: linear-gradient(to right, var(--bg-color) 10%, rgba(242, 231, 210, 0) 100%);
    width: 15%;
}

.grid-container::after {
    right: 0;
    background: linear-gradient(to left, var(--bg-color) 10%, rgba(242, 231, 210, 0) 100%);
    width: 15%;
}

#project-list {
    display: flex;
    gap: 30px;
    width: max-content;
    animation: scroll-automatico 30s linear infinite;
}

#project-list:hover {
    animation-play-state: paused;
}
.project-card {
    flex-shrink: 0;
    width: 320px;
    background: var(--white);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.project-card:hover {
    transform: translateY(-12px);
    box-shadow: 0 20px 40px rgba(71, 52, 105, 0.1);
    border-color: var(--secondary-color);
}

.project-card h3 {
    color: var(--primary-color);
    font-size: 1.4rem;
    text-transform: capitalize;
}

.project-card a {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}
.project-card a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
@keyframes scroll-automatico {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-33.33% - 20px));
    }
}
/* Container Geral da Seção */
#education {
    padding: 20px;
    background-color: var(--bg-color);
    margin: 40px auto;
}


/* Wrapper que segura a linha */
.timeline-wrapper {
    position: relative;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px 0;
}

/* A Linha Vertical Central */
.timeline-wrapper::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: var(--secondary-color);
    transform: translateX(-50%);
}

/* Item Individual */
.timeline-item {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    align-items: center;
}

/* Posicionamento dos itens (Alternado) */
.timeline-item:nth-child(odd) {
    flex-direction: row-reverse;
}

/* Dot */
.timeline-dot {
    position: absolute;
    left: 50%;
    width: 16px;
    height: 16px;
    background-color: var(--bg-color);
    border: 3px solid var(--secondary-color);
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

/* Estilo da Data*/
.timeline-date {
    width: 50%;
    padding: 0 40px;
    font-weight: bold;
    color: var(--primary-color);
    text-align: left;

}

.timeline-item:nth-child(even) .timeline-date {
    text-align: right;
}

/* Caixa de Conteúdo (Cards) */
.timeline-content {
    width: 45%;
    padding: 20px;
    background: var(--bg-color);
    border: 2px solid var(--secondary-color);
    border-radius: 12px;
    transition: all var(--transition-speed);
    text-align: justify;
}
.timeline-content h3,
.timeline-content h4 {
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
}
.timeline-content p {
    text-align: justify;
    hyphens: auto;
    line-height: 1.6;
}

.timeline-item:hover .timeline-content {
    background-color: var(--white);
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(174, 143, 186, 0.3);
}

/* Responsividade: Ajuste para Mobile */
@media (max-width: 768px) {
    .timeline-wrapper::before { left: 20px; }
    .timeline-dot { left: 20px; }
    .timeline-item, .timeline-item:nth-child(odd) {
        flex-direction: row;
        padding-left: 45px;
        margin-bottom: 40px;
        padding-top: 15px;
    }
    .timeline-date {
        position: absolute;
        top: -25px;
        left: 45px;
        width: auto;
        padding: 0;
    }
    .timeline-content { width: 100%; }
}
